@{
    ViewData["Title"] = "Contactenos";

    <h1><center>Gracias por Contactarnos</center></h1>

      <h4>Nombre</h4><br>
      <b> @Model.nombre</b>  
      <h4>Edad</h4><br>  
       <b> @Model.edad</b>
      <h4>Correo Electrónico</h4><br>  
      <b>@Model.correoElectronico</b>
      <h4>Comentario</h4><br>
    <b>  @Model.comentario </b> 

    <a asp-action="Index">Página Principal</a>

}
