@{
    ViewData["Title"] = "Home Page";
}

<h3>Este es el inicio de la página de Jeanca Barberena</h3>
<p> ¡Puede utilizar los comandos de la barra superior para navegar!</p>
<a href="https://www.youtube.com/watch?v=iik25wqIuFo">Youtube</a>
<a asp-action="Contactenos">Contactenos</a>